body {
    font-family: sans-serif;
    padding: 10px;
}

h1{
    text-align: center;
}
body{
background-color:#FF7400;
height: 300px;
}

  header img{
    height: 70px;
    width: 50px;
    position: relative;
    left:570px;

  }
section  {
  color:blue ; padding: 10px;
}

p{
  border: 15px solid firebrick;
  border-radius:15px ;
  background-color: gold;
  padding: 10px;
}
.gra img{
left:33%;
position: relative;
}
